visibility=public
kind=defined
names=AF_IMPLINK,PF_IMPLINK

--- AF_IMPLINK -> Integer
--- PF_IMPLINK -> Integer
@todo
ARPANET IMP。
[[m:Socket.open]] の第一引数 domain に使用します。


