kind=defined
visibility=public
names=socktype

--- socktype -> Integer

ソケットタイプを整数で返します。

  Addrinfo.tcp("localhost", 80).socktype == Socket::SOCK_STREAM #=> true

