kind=defined
visibility=public
names=AF_NETBIOS,PF_NETBIOS

--- AF_NETBIOS -> Integer
--- PF_NETBIOS -> Integer
@todo
NetBIOS。
[[m:Socket.open]] の第一引数 domain に使用します。


