kind=defined
visibility=public
names=AI_V4MAPPED_CFG

--- AI_V4MAPPED_CFG -> Integer
Accept IPv4 mapped addresses if the kernel supports it。

[[m:Socket.getaddrinfo]], [[m:Addrinfo.getaddrinfo]] の引数 flags に渡す
定数です。

@see [[man:getipnodebyname(3freebsd)]]

