kind=defined
visibility=public
names=SOL_UDP

--- SOL_UDP -> Integer
UDP socket options。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第一引数(level)に使用します。

@see [[m:Socket::Constants::IPPROTO_UDP]]

