kind=defined
visibility=public
names=AI_NUMERICSERV

--- AI_NUMERICSERV -> Integer
Prevent server name resolution。

[[m:Socket.getaddrinfo]], [[m:Addrinfo.getaddrinfo]] の引数 flags に渡す
定数です。

@see [[man:getaddrinfo(3)]]

