kind=defined
visibility=public
names=AI_PASSIVE

--- AI_PASSIVE -> Integer
Get address to use with bind。

[[m:Socket.getaddrinfo]], [[m:Addrinfo.getaddrinfo]] の引数 flags に渡す
定数です。

@see [[man:getaddrinfo(3)]]

